<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256310893991-tt78684o1rqko7rov8k53c55qtpl7g2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256310893991-tt78684o1rqko7rov8k53c55qtpl7g2e</string>
	<key>API_KEY</key>
	<string>AIzaSyAcGeaHyxMd8ZcE3PkZpKJ-ZAecbxH3Pi4</string>
	<key>GCM_SENDER_ID</key>
	<string>256310893991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pakarCmms</string>
	<key>PROJECT_ID</key>
	<string>mobilecmms-15e10</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilecmms-15e10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256310893991:ios:a7e4f8a24e0c9a9ee1aa82</string>
</dict>
</plist>